<a href="https://colab.research.google.com/github/nastyha002/nastyha002/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22%D0%97%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_1_ipynb%22_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Задание по практике 1

##Загрузка датасета
В файле classification datasets расположены ссылки на датасеты. Выберите один в соответствии со своим вариантом, скачайте и прочитайте файл

**Не забудьте загрузить нужные библиотеки**

Например: pip3 install pandas

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/Global YouTube Statistics.csv", encoding='unicode_escape')
df

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,Natan por Aï¿,12300000,9.029610e+09,Sports,Natan por Aï¿,1200,Brazil,BR,Entertainment,...,700000.0,2017.0,Feb,12.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
991,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,India,IN,Games,...,300000.0,2018.0,Sep,14.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
992,993,Panda,12300000,2.214684e+09,NaN,HybridPanda,2452,United Kingdom,GB,Games,...,1000.0,2006.0,Sep,11.0,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
993,994,RobTopGames,12300000,3.741235e+08,Gaming,RobTopGames,39,Sweden,SE,Games,...,100000.0,2012.0,May,9.0,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
994,995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,India,IN,Comedy,...,100000.0,2017.0,Aug,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

##Первое знакомство с датасетом
В следующих ячейках выведите:


1.   Колонки датасета
2.   Первые 5 значений
3.   Последние 5 значений
4.   Статистику по числовым колонкам

In [ ]:
df.columns

Index(['rank', 'Youtuber', 'subscribers', 'video views', 'category', 'Title',
       'uploads', 'Country', 'Abbreviation', 'channel_type',
       'video_views_rank', 'country_rank', 'channel_type_rank',
       'video_views_for_the_last_30_days', 'lowest_monthly_earnings',
       'highest_monthly_earnings', 'lowest_yearly_earnings',
       'highest_yearly_earnings', 'subscribers_for_last_30_days',
       'created_year', 'created_month', 'created_date',
       'Gross tertiary education enrollment (%)', 'Population',
       'Unemployment rate', 'Urban_population', 'Latitude', 'Longitude'],
      dtype='object')

In [ ]:
df[:5]

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [ ]:
df.tail()

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
990,991,Natan por Aï¿,12300000,9.029610e+09,Sports,Natan por Aï¿,1200,Brazil,BR,Entertainment,...,700000.0,2017.0,Feb,12.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
991,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,India,IN,Games,...,300000.0,2018.0,Sep,14.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
992,993,Panda,12300000,2.214684e+09,NaN,HybridPanda,2452,United Kingdom,GB,Games,...,1000.0,2006.0,Sep,11.0,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
993,994,RobTopGames,12300000,3.741235e+08,Gaming,RobTopGames,39,Sweden,SE,Games,...,100000.0,2012.0,May,9.0,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
994,995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,India,IN,Comedy,...,100000.0,2017.0,Aug,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [ ]:

stat = df.describe()
stat

,rank,subscribers,video views,uploads,video_views_rank,country_rank,channel_type_rank,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,...,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
count,995.00000,9.950000e+02,9.950000e+02,995.000000,9.940000e+02,879.000000,962.000000,9.390000e+02,995.000000,9.950000e+02,...,9.950000e+02,6.580000e+02,990.000000,990.000000,872.000000,8.720000e+02,872.000000,8.720000e+02,872.000000,872.000000
mean,498.00000,2.298241e+07,1.103954e+10,9187.125628,5.542489e+05,386.053470,745.719335,1.756103e+08,36886.148281,5.898078e+05,...,7.081814e+06,3.490791e+05,2012.630303,15.746465,63.627752,4.303873e+08,9.279278,2.242150e+08,26.632783,-14.128146
std,287.37606,1.752611e+07,1.411084e+10,34151.352254,1.362782e+06,1232.244746,1944.386561,4.163782e+08,71858.724092,1.148622e+06,...,1.379704e+07,6.143554e+05,4.512503,8.777520,26.106893,4.727947e+08,4.888354,1.546874e+08,20.560533,84.760809
min,1.00000,1.230000e+07,0.000000e+00,0.000000,1.000000e+00,1.000000,1.000000,1.000000e+00,0.000000,0.000000e+00,...,0.000000e+00,1.000000e+00,1970.000000,1.000000,7.600000,2.025060e+05,0.750000,3.558800e+04,-38.416097,-172.104629
25%,249.50000,1.450000e+07,4.288145e+09,194.500000,3.230000e+02,11.000000,27.000000,2.013750e+07,2700.000000,4.350000e+04,...,5.217500e+05,1.000000e+05,2009.000000,8.000000,36.300000,8.335541e+07,5.270000,5.590832e+07,20.593684,-95.712891
50%,498.00000,1.770000e+07,7.760820e+09,729.000000,9.155000e+02,51.000000,65.500000,6.408500e+07,13300.000000,2.127000e+05,...,2.600000e+06,2.000000e+05,2013.000000,16.000000,68.000000,3.282395e+08,9.365000,2.706630e+08,37.090240,-51.925280
75%,746.50000,2.460000e+07,1.355470e+10,2667.500000,3.584500e+03,123.000000,139.750000,1.688265e+08,37900.000000,6.068000e+05,...,7.300000e+06,4.000000e+05,2016.000000,23.000000,88.200000,3.282395e+08,14.700000,2.706630e+08,37.090240,78.962880
max,995.00000,2.450000e+08,2.280000e+11,301308.000000,4.057944e+06,7741.000000,7741.000000,6.589000e+09,850900.000000,1.360000e+07,...,1.634000e+08,8.000000e+06,2022.000000,31.000000,113.100000,1.397715e+09,14.720000,8.429340e+08,61.924110,138.252924

**Ответьте на следующие вопросы:**


1.   Какие средние значения в каждой числовой колонке вашего датасета?
2.   Минимальные и максимальные значения в каждой числовой колонке вашего датасета

In [ ]:
stat.loc[['mean']]

,rank,subscribers,video views,uploads,video_views_rank,country_rank,channel_type_rank,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,...,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
mean,498.0,2.298241e+07,1.103954e+10,9187.125628,554248.904427,386.05347,745.719335,1.756103e+08,36886.148281,589807.847588,...,7.081814e+06,349079.132219,2012.630303,15.746465,63.627752,4.303873e+08,9.279278,2.242150e+08,26.632783,-14.128146

In [ ]:
stat.loc[['min', 'max']]

,rank,subscribers,video views,uploads,video_views_rank,country_rank,channel_type_rank,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,...,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
min,1.0,12300000.0,0.000000e+00,0.0,1.0,1.0,1.0,1.000000e+00,0.0,0.0,...,0.0,1.0,1970.0,1.0,7.6,2.025060e+05,0.75,35588.0,-38.416097,-172.104629
max,995.0,245000000.0,2.280000e+11,301308.0,4057944.0,7741.0,7741.0,6.589000e+09,850900.0,13600000.0,...,163400000.0,8000000.0,2022.0,31.0,113.1,1.397715e+09,14.72,842933962.0,61.924110,138.252924

*Курсив*

1.   **Ответ 1.**
2.   **Ответ 2.**

##Типизация
Присвойте соответствующим колонкам один из типов (category, float, int)

In [ ]:
df['rank'] = df['rank'].astype("int64")
#df['Youtuber'] = df['Youtuber'].astype("category")
df['subscribers'] = df['subscribers'].astype("int64")
df['video views'] = df['video views'].astype("int64")
df['category'] = df['category'].astype("category")
#df['Title'] = df['Title'].astype("category")
df['uploads'] = df['uploads'].astype("int64")
df['Country'] = df['Country'].astype("category")
df['Abbreviation'] = df['Abbreviation'].astype("category")
df['re'] = df['channel_type'].astype("category")
#df['video_views_rank'] = df['video_views_rank'].astype("int64")
#df['country_rank'] = df['country_rank'].astype("int64")
#df['channel_type_rank'] = df['channel_type_rank'].astype("int64")
#df['video_views_for_the_last_30_days'] = df['video_views_for_the_last_30_days'].astype("int64")
df['lowest_monthly_earnings'] = df['lowest_monthly_earnings'].astype("float64")
df['highest_yearly_earnings'] = df['highest_yearly_earnings'].astype("float64")
df['lowest_yearly_earnings'] = df['lowest_yearly_earnings'].astype("float64")
df['highest_monthly_earnings'] = df['highest_monthly_earnings'].astype("float64")
#df['subscribers_for_last_30_days'] = df['subscribers_for_last_30_days'].astype("int64")
df['created_year'] = df['created_year'].astype("category")
df['created_month'] = df['created_month'].astype("category")
df['created_date'] = df['created_date'].astype("category")
#df['Gross tertiary education enrollment (%)'] = df['Gross tertiary education enrollment (%)'].astype("int64")
df['Population'] = df['Population'].astype("float64")
df['Unemployment rate'] = df['Unemployment rate'].astype("float64")
df['Urban_population'] = df['Urban_population'].astype("float64")
df['Latitude'] = df['Latitude'].astype("float64")
df['Longitude'] = df['Longitude'].astype("float64")


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 995 entries, 0 to 994
Data columns (total 29 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   rank                                     995 non-null    int64
 1   Youtuber                                 995 non-null    object
 2   subscribers                              995 non-null    int64
 3   video views                              995 non-null    int64
 4   category                                 949 non-null    category
 5   Title                                    995 non-null    object
 6   uploads                                  995 non-null    int64
 7   Country                                  873 non-null    category
 8   Abbreviation                             873 non-null    category
 9   channel_type                             965 non-null    object
 10  video_views_rank                         994 non-null    float64
 11  country_rank                             879 non-null    float64
 12  channel_type_rank                        962 non-null    float64
 13  video_views_for_the_last_30_days         939 non-null    float64
 14  lowest_monthly_earnings                  995 non-null    float64
 15  highest_monthly_earnings                 995 non-null    float64
 16  lowest_yearly_earnings                   995 non-null    float64
 17  highest_yearly_earnings                  995 non-null    float64
 18  subscribers_for_last_30_days             658 non-null    float64
 19  created_year                             990 non-null    category
 20  created_month                            990 non-null    category
 21  created_date                             990 non-null    category
 22  Gross tertiary education enrollment (%)  872 non-null    float64
 23  Population                               872 non-null    float64
 24  Unemployment rate                        872 non-null    float64
 25  Urban_population                         872 non-null    float64
 26  Latitude                                 872 non-null    float64
 27  Longitude                                872 non-null    float64
 28  re                                       965 non-null    category
dtypes: category(7), float64(15), int64(4), object(3)
memory usage: 184.5+ KB

Какие признаки вы можете выделить в своем датасете (категориальные, числовые и др., **минимум 3 разных**, помните что можно также выделить признаки более точно, например числовые - порядковые, количественные и т.д.)?

Ответ:
= числовые порядковые(video_views_rank, channel_type_rank), категориальный номинальные(category, Country), числовые количественные(subscribers, video views)

##Фильтрация
Офильтруйте 3 колонки вашего датасета и выведите результат

In [ ]:
df[df['rank']>100].head()

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude,re
100,101,PowerKids TV,36500000,18961241905,Film & Animation,PowerKids TV,5621,NaN,NaN,Film,...,2014.0,Aug,6.0,NaN,NaN,NaN,NaN,NaN,NaN,Film
101,102,YouTube,36300000,3010784935,News & Politics,YouTube,744,United States,US,Entertainment,...,1970.0,Jan,1.0,88.2,328239523.0,14.7,270663028.0,37.09024,-95.712891,Entertainment
102,103,News,36300000,0,NaN,News,0,NaN,NaN,NaN,...,2013.0,Sep,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,104,Ozuna,36200000,23355801606,Music,Ozuna,196,NaN,NaN,Music,...,2016.0,Mar,24.0,NaN,NaN,NaN,NaN,NaN,NaN,Music
104,105,MrBeast Gaming,36100000,6331332547,Gaming,MrBeastGaming,5,NaN,NaN,Comedy,...,2011.0,Feb,26.0,NaN,NaN,NaN,NaN,NaN,NaN,Comedy

In [ ]:

df[df['created_year']==2007].head()

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude,re
11,12,WWE,96000000,77428473662,Sports,WWE,70127,United States,US,Sports,...,2007.0,May,11.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891,Sports
15,16,Sony SAB,83000000,101000000000,Shows,Sony SAB,71270,India,IN,Entertainment,...,2007.0,Aug,4.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880,Entertainment
19,20,Justin Bieber,71600000,30608119724,Music,Justin Bieber,249,Canada,CA,Music,...,2007.0,Jan,15.0,68.9,3.699198e+07,5.56,30628482.0,56.130366,-106.346771,Music
30,31,Tips Official,59300000,33431802698,Music,Tips Official,4741,India,IN,Music,...,2007.0,May,22.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880,Music
35,36,EminemMusic,56900000,27073872856,Music,EminemMusic,156,United States,US,Music,...,2007.0,Feb,9.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891,Music

In [ ]:
df[df['video_views_for_the_last_30_days']<10].head()

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude,re
16,17,5-Minute Crafts,80100000,26236790209,Howto & Style,5-Minute Crafts 2.0,1,United Kingdom,GB,Entertainment,...,2020.0,Jul,27.0,60.0,66834405.0,3.85,55908316.0,55.378051,-3.435973,Entertainment
51,52,Bad Bunny,46100000,30686342319,Music,badbunny,1,NaN,NaN,Sports,...,2005.0,Nov,15.0,NaN,NaN,NaN,NaN,NaN,NaN,Sports
62,63,HolaSoyGerman.,43600000,4831311245,Entertainment,holasoygerman. 2,6,NaN,NaN,People,...,2016.0,May,27.0,NaN,NaN,NaN,NaN,NaN,NaN,People
75,76,Toys and Colors,40300000,47005053156,Entertainment,Toys and colors,4,NaN,NaN,People,...,2018.0,Jun,14.0,NaN,NaN,NaN,NaN,NaN,NaN,People
77,78,LUCCAS NETO - LUCCAS TOON,39400000,22302547082,People & Blogs,LUCCAS NETO- LUCCAS TOON,1,NaN,NaN,Games,...,2021.0,Mar,25.0,NaN,NaN,NaN,NaN,NaN,NaN,Games

##Группировка
Сгруппируйте датасет по какому-либо категориальному признаку и выведите среднее значение численных колонок (см. метод mean в pandas)

In [ ]:
df.groupby(['category']).mean(numeric_only=True)

,rank,subscribers,video views,uploads,video_views_rank,country_rank,channel_type_rank,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,subscribers_for_last_30_days,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
category,,,,,,,,,,,,,,,,,,,
Autos & Vehicles,560.500000,1.785000e+07,7.501729e+09,1898.500000,8.415000e+02,11.000000,45.500000,2.732165e+08,68300.000000,1.086350e+06,8.397500e+05,1.315000e+07,400000.000000,44.050000,1.111650e+08,7.215000,9.586069e+07,4.594536,0.961269
Comedy,523.623188,2.012319e+07,7.972649e+09,1119.753623,4.058789e+05,487.104478,346.863636,1.853106e+08,41867.536232,6.683122e+05,5.009664e+05,8.038623e+06,450005.818182,61.225373,4.813896e+08,9.492836,2.399634e+08,22.965873,-18.793091
Education,477.311111,2.654222e+07,1.548032e+10,3142.866667,3.614044e+05,330.785714,703.466667,1.858635e+08,43371.311333,6.951778e+05,5.194867e+05,8.324391e+06,308823.529412,60.507143,6.518306e+08,9.257857,2.981570e+08,25.438327,-7.988179
Entertainment,512.551867,2.140332e+07,1.048854e+10,11908.481328,6.167031e+05,450.028037,889.189655,1.796649e+08,38973.470539,6.226426e+05,4.668631e+05,7.483962e+06,415748.503226,60.274648,4.493971e+08,8.779765,2.252062e+08,25.878448,-2.155727
Film & Animation,361.869565,2.858478e+07,1.183527e+10,2799.652174,7.925529e+05,811.108108,1252.688889,1.930848e+08,45785.087174,7.327018e+05,5.471840e+05,8.797580e+06,520084.714286,58.438889,5.816341e+08,9.687222,2.805538e+08,20.379927,-16.921857
Gaming,538.191489,2.085213e+07,7.634456e+09,4313.414894,6.010272e+05,319.621951,891.434783,7.163692e+07,16957.979574,2.719054e+05,2.028147e+05,3.252386e+06,218644.728814,74.176543,1.915255e+08,9.389877,1.400914e+08,28.800638,-28.625359
Howto & Style,594.775000,1.939000e+07,5.045439e+09,1673.350000,4.815907e+05,309.058824,436.432432,5.081039e+07,12069.850500,1.927991e+05,1.446049e+05,2.316468e+06,200000.176471,66.242424,4.485487e+08,9.345152,2.403113e+08,27.373586,-22.375024
Movies,241.000000,2.565000e+07,7.691628e+09,3553.000000,8.400000e+02,53.000000,16.500000,1.731005e+08,28400.000000,4.547000e+05,3.410500e+05,5.450000e+06,400000.000000,28.100000,1.366418e+09,5.360000,4.710315e+08,20.593684,78.962880
Music,446.000000,2.571782e+07,1.545286e+10,2335.509901,4.041852e+05,267.815217,627.277778,1.790282e+08,34592.348564,5.522996e+05,4.148033e+05,6.643245e+06,200919.206612,66.657459,3.904696e+08,10.019669,2.160434e+08,26.904038,-27.683379
News & Politics,506.038462,2.063077e+07,1.039969e+10,112484.384615,3.250163e+05,457.846154,527.000000,1.607470e+08,40192.625000,6.426320e+05,4.836807e+05,7.707753e+06,268095.238095,44.411538,6.906570e+08,6.505385,2.771031e+08,24.890536,40.582362
Nonprofits & Activism,314.000000,2.775000e+07,5.431456e+09,102912.000000,1.537500e+03,27.000000,1.500000,9.759050e+07,24400.000000,3.904000e+05,2.927500e+05,4.700000e+06,250000.000000,69.750000,2.703995e+08,13.390000,2.269523e+08,11.427618,-73.819085
People & Blogs,534.500000,2.105606e+07,9.589327e+09,9190.780303,7.433466e+05,405.548077,1042.171875,1.432201e+08,34177.009167,5.468421e+05,4.104225e+05,6.558866e+06,386439.852273,63.909615,3.819289e+08,8.930096,2.128195e+08,27.301737,-10.008890
Pets & Animals,562.750000,1.810000e+07,1.121669e+10,4451.500000,1.013181e+06,70.000000,54.333333,2.006161e+08,49975.500000,7.944322e+05,6.083055e+05,9.575086e+06,325001.250000,78.800000,2.411045e+08,11.083333,1.990781e+08,43.186177,-64.953918
Science & Technology,532.000000,1.861765e+07,3.939809e+09,2114.058824,7.128223e+05,632.933333,302.625000,4.654797e+08,12635.411765,2.020432e+05,1.515427e+05,2.415472e+06,206669.466667,61.240000,5.250416e+08,8.806667,2.513015e+08,36.939731,-26.317247
Shows,335.461538,4.161538e+07,3.432360e+10,27443.692308,3.124532e+05,42.250000,42.000000,5.501661e+08,126961.538462,2.037662e+06,1.526146e+06,2.438462e+07,500000.153846,58.666667,6.908779e+08,8.688333,2.961135e+08,31.581067,7.064300
Sports,550.727273,2.710909e+07,1.345330e+10,14493.727273,1.650182e+03,48.818182,21.818182,2.002255e+08,50063.636364,8.069364e+05,6.029273e+05,9.615118e+06,288888.888889,82.072727,1.862806e+08,11.563636,1.542270e+08,29.915034,-36.311045
Trailers,85.500000,3.900000e+07,1.663136e+10,6839.000000,1.800000e+02,23.000000,29.500000,1.562020e+08,22600.000000,3.619000e+05,2.714000e+05,4.350000e+06,300000.000000,28.100000,1.366418e+09,5.360000,4.710315e+08,20.593684,78.962880
Travel & Events,957.000000,1.250000e+07,3.140883e+09,766.000000,2.691000e+03,33.000000,171.000000,3.100700e+07,7800.000000,1.240000e+05,9.300000e+04,1.500000e+06,NaN,40.200000,1.260140e+08,3.420000,1.026269e+08,23.634501,-102.552784

##Задание для гениев *
Агрегируйте числовой признак по категориальному признаку с использованием метода **без использования** библиотеки pandas, и вычислите медиану и среднее значение для каждой категории.

In [ ]:
#Агрегация